 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
 body {
     background-color: white;
     max-width: 100%;
 }
 /* SearchBar Styling */
 
 #search-bar-menu {
     display: flex;
     width: 100%;
     height: 70px;
     background-color: grey;
     /* position: fixed; */
 }
 
 #logo-div {
     width: 160px;
     height: 60px;
     margin-top: 4px;
     margin-left: 10px;
 }
 
 #logo-div:hover {
     border: 1px solid white;
 }
 
 #logo-div>a>img {
     width: 140px;
     height: 45px;
     color: white;
     margin: 5px;
 }
 /* location  */
 
 .location-bar {
     cursor: pointer;
     width: 200px;
     height: 60px;
     margin-top: 4px;
     margin-left: 10px;
 }
 
 .location-bar:hover {
     border: 1px solid white;
 }
 
 .location-bar>p {
     font-size: 14px;
     color: rgb(52, 50, 50);
     margin: 8px 5px 5px 24px;
 }
 
 .location-bar>i {
     font-size: 20px;
     margin-left: 12px;
 }
 /* Input SearchBar */
 
 .input-search {
     width: 200px;
     height: 50px;
     margin: 10px 5px 5px 15px;
 }
 
 .input-search #sort-down {
     padding: 16px 22px 16px 16px;
     border: none;
     background-color: teal;
     position: relative;
     cursor: pointer;
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
 }
 
 .input-search #sort-down:hover {
     opacity: 0.7;
 }
 
 .input-search #sort-down .fa-sort-down {
     margin-left: 5px;
     position: absolute;
     top: 15px;
 }
 
 .input-search>input {
     position: absolute;
     width: 550px;
     height: 48px;
     border: none;
     outline: none;
 }
 
 input::placeholder {
     padding: 12px;
     color: teal;
     font-size: 17px;
 }
 
 .input-search #search {
     width: 50px;
     height: 48px;
     background-color: #f08804;
     position: absolute;
     border: none;
     left: 62.3rem;
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
     cursor: pointer;
 }
 
 .input-search #search:hover {
     opacity: 0.7;
 }
 
 .input-search #search>i {
     font-size: 20px;
 }
 /* FlagBar */
 
 .flag-bar {
     position: absolute;
     right: 390px;
     width: 70px;
     height: 60px;
     margin-top: 5px;
     cursor: pointer;
 }
 
 .flag-bar:hover {
     border: 1px solid white;
 }
 
 .flag-bar div {
     margin-left: 8px;
     margin-top: 20px;
 }
 
 .flag-bar .fa-down {
     position: absolute;
     top: 25px;
     left: 52px;
 }
 /* Hover Box */
 
 a {
     color: black;
     text-decoration: none;
 }
 
 a:hover {
     text-decoration: underline;
     color: #f08804;
 }
 
 li {
     list-style: none;
 }
 
 p {
     font-size: 16px;
     margin-left: 25px;
 }
 
 h4 {
     margin-top: 10px;
     margin-left: 25px;
     font-size: 14px;
     color: blue;
     cursor: pointer;
     margin-right: 12px;
 }
 /* Sign in Styling */
 
 .sign-in {
     width: 180px;
     height: 63px;
     cursor: pointer;
     position: relative;
     bottom: -3px;
     left: 32rem;
 }
 
 .sign-in:hover {
     border: 1px solid white;
 }
 
 #sign-in {
     position: absolute;
     left: -0px;
     top: 10px;
     font-size: 18px;
     color: white;
     font-weight: 800;
 }
 
 #account-list {
     position: absolute;
     top: 30px;
     left: 20px;
     font-size: 20px;
     color: whitesmoke;
     font-weight: bold;
 }
 
 .account-down {
     position: relative;
     top: 33px;
     left: 160px;
     color: whitesmoke;
 }
 
 input:checked {
     color: red;
 }
 /* Account Hover Bar */
 
 .sign-in-hover {
     width: 600px;
     height: 460px;
     background-color: whitesmoke;
     position: relative;
     right: 300px;
     top: 45px;
     display: none;
     z-index: 111;
 }
 
 .sign-in:hover .sign-in-hover {
     display: block;
 }
 
 #accoount-sign-in-btn {
     background-color: #ffd814;
     width: 250px;
     height: 40px;
     border-radius: 10px;
     border: none;
     margin-left: 30%;
     margin-top: 12px;
     cursor: pointer;
 }
 
 .sign-in-hover span {
     display: inline-block;
     margin-top: 12px;
     margin-left: 219px;
     font-size: 14px;
 }
 
 .sign-in-hover a {
     color: blue;
 }
 
 .sign-in-hover a:hover {
     color: #f08804;
 }
 
 .sign-in-hover .your-list {
     margin-left: 20px;
     margin-top: 12px;
     display: flex;
     flex-direction: column;
     width: 260px;
 }
 
 h5 {
     font-weight: 500;
 }
 
 .sign-in-hover .list {
     color: black;
     padding-top: 12px;
 }
 
 .sign-in-hover .your-account {
     float: right;
     display: flex;
     flex-direction: column;
     margin-top: -175px;
     margin-right: 60px;
 }
 
 .your-account .account {
     color: black;
     padding-top: 12px;
 }
 /* RETURN & ORDER STYLING */
 
 .return-order {
     width: 90px;
     height: 60px;
     position: relative;
     left: 540px;
     top: 5px;
     cursor: pointer;
 }
 
 .return-order:hover {
     border: 1px solid white;
 }
 
 .return-order h3 {
     margin-top: 12px;
     font-size: 16px;
     color: rgba(255, 255, 255, 0.77);
 }
 /* CART SECTION STYLING */
 
 .cart {
     width: 94px;
     height: 60px;
     position: relative;
     left: 540px;
     overflow: hidden;
     margin-top: 3px;
     cursor: pointer;
 }
 
 .cart:hover {
     border-bottom: 3px solid rebeccapurple;
 }
 
 .cart .fa-hands-holding {
     font-size: 30px;
     margin-left: 10px;
     margin-top: -6px;
 }
 
 .cart span {
     font-size: 17px;
     font-weight: bolder;
 }
 
 .cart p {
     position: relative;
     top: 10px;
     font-size: 20px;
     color: #f08804;
     font-weight: bolder;
 }
 /* NAVBAR SECTION STYLING */
 
 .nav-container {
     width: 100%;
     height: 50px;
     background-color: #004b91;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 
 .nav-link {
     padding: 12px;
     color: white;
 }
 
 #mobile-link {
     color: rgb(255, 0, 0);
     text-decoration: underline;
 }
 
 .fa-bars {
     margin-bottom: -5px;
     margin-right: 6px;
 }
 /* Prime Hover Styling */
 
 .prime-amazon {
     width: 450px;
     height: 360px;
     background-color: rgb(255, 254, 254);
     position: absolute;
     right: 15.5%;
     top: 115px;
     display: none;
     z-index: 11111;
 }
 
 #prime-hover:hover .prime-amazon {
     display: block;
 }
 
 .prime-amazon img {
     width: 400px;
     height: 320px;
 }
 /* SIDE BAR NAVIGATION  */
 
 .sidebar-container-navigation {
     background-color: rgba(0, 0, 0, 0.7);
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     z-index: 10;
     transform: translateX(-100%);
     display: flex;
     transition: transform 0.3s;
 }
 
 .sliderbar-show {
     transform: translateX(0%);
 }
 
 .sidebar-left-part {
     background-color: white;
     width: 365px;
     height: 100%;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
 }
 
 .sidebar-top {
     display: flex;
     align-items: center;
     padding: 12px;
     padding-left: 30px;
     background-color: rgb(19, 25, 33);
     color: white;
 }
 
 .sidebar-top h2 {
     font-size: 22px;
     margin: 0;
 }
 
 .sidebar-top i {
     padding-right: 10px;
     font-size: 25px;
 }
 
 .sidebar-item {
     padding-left: 30px;
     margin-top: 20px;
     border-bottom: 1.5px solid #ccc;
     display: flex;
     flex-direction: column;
 }
 
 .sidebar-item h2 {
     font-size: 20px;
 }
 
 .sidebar-item p {
     color: rgb(65, 62, 62);
     margin-top: 20px;
     margin-bottom: 10px;
 }
 
 #sidebar-navigation-close {
     background-color: transparent;
     align-self: flex-start;
     font-size: 30px;
     border: none;
     color: white;
     padding: 20px;
     cursor: pointer;
 }
 
 .sidebar-warp {
     height: 100%;
     overflow: scroll;
     padding-bottom: 50px;
 }
 /* MOBILE SECTION STYLING */
 
 .mobile-section {
     width: 85%;
     margin-left: 15%;
 }
 
 img {
     margin: 25px 0 0 50px;
 }
 
 .gif-img img {
     width: 88%;
     height: 40%;
 }
 /* MOBILE SECTION 1 STYLING */
 
 .mobile-section-1 {
     display: flex;
     overflow-x: scroll;
 }
 
 .mobile-section-1 img {
     width: 15%;
     height: 10%;
 }
 /* image slider  */
 
 #box {
     padding: 0px;
     position: relative;
     width: 100%;
 }
 
 .slides {
     overflow: hidden;
     position: relative;
     transition: transform 0.5s;
 }
 
 .slides>img {
     margin-top: 30px;
     margin-left: -0px;
     width: 100%;
     height: 700px;
     border-radius: 30px;
 }
 
 #pre,
 #next {
     padding: 10px;
     font-size: 29px;
     position: absolute;
     top: 50%;
     border: none;
     background-color: white;
     color: rgb(71, 64, 64);
     transition: all 1s;
     cursor: pointer;
 }
 
 #pre:hover,
 #next:hover {
     opacity: 1;
 }
 
 #pre {
     border-radius: 0px 5px 5px 0px;
 }
 
 #next {
     right: 6px;
     border-radius: 5px 0px 0px 5px;
 }
 
 .container-box {
     position: relative;
     bottom: 12px;
 }
 
 .heading-img {
     margin-top: 20px;
     margin-left: 12px;
     position: absolute;
 }
 
 .heading-img h2 {
     margin-left: 60px;
 }
 /* Footer section */
 
 .footer-btn {
     width: 100%;
     height: 35px;
     background-color: #004b91;
     margin-top: 15px;
     text-align: center;
     padding-top: 7px;
     color: white;
     cursor: pointer;
 }
 
 footer {
     width: 100%;
     height: 400px;
     background-color: lightslategrey;
     display: flex;
     justify-content: space-evenly;
 }
 
 .about {
     display: flex;
     flex-direction: column;
     margin-top: 25px;
 }
 
 .about h2 {
     color: white;
     font-family: sans-serif;
     margin-bottom: 14px;
 }
 
 .about a {
     color: cornsilk;
     padding-top: 10px;
 }
 
 .footer-2 {
     width: 100%;
     height: 35%;
     background-color: #121820;
     display: flex;
     justify-content: space-around;
 }
 
 .footer-content {
     display: flex;
     flex-direction: column;
     cursor: pointer;
     margin-top: 20px;
 }
 
 .footer-2 a {
     color: white;
 }