body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    width: 50%;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border: 2px solid whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}